.container {
  padding: 0px 24px;
}

.section {
  font-size: 18px;
  position: relative;
}

.sectionMe {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.description {
  padding: 16px 60px;
  text-align: justify;
  color: var(--color-grey);
  p {
    margin-bottom: 24px;
  }
}

.dp {
  width: 260px;
  height: 260px;
  margin: 24px auto;
  overflow: hidden;
  border-radius: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sectionMyEdge {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  text-align: center;
}

.logo {
  width: 300px;
  margin-top: 24px;
}

@media only screen and (max-width: 768px) {
  .section {
    font-size: 16px;
  }
  .description {
    padding: 16px 36px;
  }
}

@media only screen and (max-width: 600px) {
  .section {
    font-size: 14px;
  }
  .sectionMe {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .dp {
    width: 200px;
    height: 200px;
    margin: 16px auto;
  }
  .description {
    padding: 16px 0px;
  }
  .sectionMyEdge {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
