.container {
  width: 100%;
  text-align: center;
  padding: 45px 20px;
  background: linear-gradient(180deg, #333, transparent);
  border-radius: 20px;
  border: 1px solid #555;
}

.heading {
  font-size: 60px;
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 32px;
  }
}
