.container {
  width: 100%;
  text-align: center;
  padding: 45px 20px;
  background: linear-gradient(180deg, #333, transparent);
  border-radius: 20px;
  border: 1px solid #555;
  font-family: cursive;
}

.heading {
  font-size: 60px;
}
