.container {
  background: url(../../assets/images/trade__bg.png) no-repeat 100% 0;
  background-size: cover;
  height: 580px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 24px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 60px;
  gap: 24px;
}

.heading {
  font-size: 36px;
}

.description {
  color: var(--color-grey);
}
