.container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px;
  border-radius: 20px;
  background: linear-gradient(180deg, #333, transparent);
  border: 1px solid var(--color-white);
  padding: 40px 24px;
  margin: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.heading {
  font-size: 30px;
}

.text {
  margin: 4px 0px;
  text-align: center;
}
