.container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 720px;
  border-radius: 20px;
  background: linear-gradient(180deg, #333, transparent);
  border: 1px solid var(--color-white);
  padding: 40px 24px;
  margin: 80px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  column-gap: 30px;

  & > * {
    text-align: center;
  }
}

.heading {
  font-size: 30px;
}

.signUp {
  margin: 4px 0px;
  & > a {
    color: var(--color-primary);
    text-decoration: underline;
  }
}

.span2 {
  grid-column: 1 / span 2;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 500px;
    grid-template-columns: 1fr;
  }
  .span2 {
    grid-column: 1 / span 1;
  }
}
