.heading {
  width: 100%;
  text-align: center;
  margin: 80px 0px 40px;
  color: var(--color-text);
  font-size: 32px;
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 30px;
    margin: 50px 0px 20px;
  }
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 24px;
    margin: 40px 0px 20px;
  }
}
